USE [master]
GO
/****** Object:  Database [Gym]    Script Date: 11/05/2024 07:15:48 p. m. ******/
CREATE DATABASE [Gym]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gym', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Gym.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gym_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Gym_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gym].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gym]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 11/05/2024 07:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[ID_Compra] [int] IDENTITY(1,1) NOT NULL,
	[ID_MetodoPago] [int] NOT NULL,
	[Fecha_Compra] [datetime] NOT NULL,
	[Precio_Total] [float] NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[ID_Paquete] [int] NOT NULL,
 CONSTRAINT [PK_Compra] PRIMARY KEY CLUSTERED 
(
	[ID_Compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ejercicios]    Script Date: 11/05/2024 07:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejercicios](
	[ID_Ejercicio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
	[ID_GruposMusculares] [int] NOT NULL,
 CONSTRAINT [PK_Ejercicios] PRIMARY KEY CLUSTERED 
(
	[ID_Ejercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EjerciciosRutinas]    Script Date: 11/05/2024 07:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EjerciciosRutinas](
	[ID_Ejercicio] [int] NOT NULL,
	[ID_Rutina] [int] NOT NULL,
	[Series] [int] NOT NULL,
	[Repeticiones] [int] NOT NULL,
	[ID_Peso] [int] NOT NULL,
 CONSTRAINT [PK_EjerciciosRutinas] PRIMARY KEY CLUSTERED 
(
	[ID_Ejercicio] ASC,
	[ID_Rutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GruposMusculares]    Script Date: 11/05/2024 07:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GruposMusculares](
	[ID_GruposMusculares] [int] IDENTITY(1,1) NOT NULL,
	[Musculo] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_GruposMusculares] PRIMARY KEY CLUSTERED 
(
	[ID_GruposMusculares] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoPago]    Script Date: 11/05/2024 07:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPago](
	[ID_MetodoPago] [int] IDENTITY(1,1) NOT NULL,
	[Metodo] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MetodoPago] PRIMARY KEY CLUSTERED 
(
	[ID_MetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peso]    Script Date: 11/05/2024 07:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peso](
	[ID_Peso] [int] IDENTITY(1,1) NOT NULL,
	[Peso] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Peso] PRIMARY KEY CLUSTERED 
(
	[ID_Peso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/05/2024 07:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID_Rol] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutinas]    Script Date: 11/05/2024 07:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutinas](
	[ID_Rutina] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](15) NOT NULL,
	[Descripcion] [nvarchar](150) NOT NULL,
	[Precio] [float] NOT NULL,
 CONSTRAINT [PK_Paquetes] PRIMARY KEY CLUSTERED 
(
	[ID_Rutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11/05/2024 07:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](320) NOT NULL,
	[Contraseña] [nvarchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[ID_Rol] [int] NOT NULL,
	[Fecha_Inscripcion] [datetime] NOT NULL,
	[EstadoMembresia] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Paquetes] FOREIGN KEY([ID_Paquete])
REFERENCES [dbo].[Rutinas] ([ID_Rutina])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compra_Paquetes]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuarios] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compra_Usuario]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_MetodoPago] FOREIGN KEY([ID_MetodoPago])
REFERENCES [dbo].[MetodoPago] ([ID_MetodoPago])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_MetodoPago]
GO
ALTER TABLE [dbo].[Ejercicios]  WITH CHECK ADD  CONSTRAINT [FK_Ejercicios_GruposMusculares] FOREIGN KEY([ID_GruposMusculares])
REFERENCES [dbo].[GruposMusculares] ([ID_GruposMusculares])
GO
ALTER TABLE [dbo].[Ejercicios] CHECK CONSTRAINT [FK_Ejercicios_GruposMusculares]
GO
ALTER TABLE [dbo].[EjerciciosRutinas]  WITH CHECK ADD  CONSTRAINT [FK_EjerciciosRutinas_Ejercicios] FOREIGN KEY([ID_Ejercicio])
REFERENCES [dbo].[Ejercicios] ([ID_Ejercicio])
GO
ALTER TABLE [dbo].[EjerciciosRutinas] CHECK CONSTRAINT [FK_EjerciciosRutinas_Ejercicios]
GO
ALTER TABLE [dbo].[EjerciciosRutinas]  WITH CHECK ADD  CONSTRAINT [FK_EjerciciosRutinas_Peso] FOREIGN KEY([ID_Peso])
REFERENCES [dbo].[Peso] ([ID_Peso])
GO
ALTER TABLE [dbo].[EjerciciosRutinas] CHECK CONSTRAINT [FK_EjerciciosRutinas_Peso]
GO
ALTER TABLE [dbo].[EjerciciosRutinas]  WITH CHECK ADD  CONSTRAINT [FK_EjerciciosRutinas_Rutinas] FOREIGN KEY([ID_Rutina])
REFERENCES [dbo].[Rutinas] ([ID_Rutina])
GO
ALTER TABLE [dbo].[EjerciciosRutinas] CHECK CONSTRAINT [FK_EjerciciosRutinas_Rutinas]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Roles1] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles] ([ID_Rol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuario_Roles1]
GO
USE [master]
GO
