@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a FitPulse</h1>

    <div class="container">

        <div class="row">
            <div class="TarjetaMenu col">
                <img src="~/imagenes/Administracion.jpeg" alt="Sample Photo" />
                <h2>Menú de Administrador</h2>
                <p>Aquí encontraras herramientas que solo los administradores pueden acceder</p>
                <a class="btn btn-dark" asp-area="" asp-controller="Admin" asp-action="MenuAdmin">Visita esta sección</a>
            </div>
            <div class="TarjetaMenu col">
                <img src="~/imagenes/Rutinas.jpeg" alt="Sample Photo" />
                <h2>Menú de tus rutinas</h2>
                <p>Aquí encontraras rutinas de ejercicios elaborados para ti</p>
                <a><button type="button" class="btn btn-dark">Visita esta sección</button></a>
            </div>
            <div class="TarjetaMenu col">
                <img src="~/imagenes/Informacion.jpeg" alt="Sample Photo" />
                <h2>Menú de información</h2>
                <p>Aqui encontraras la información necesaria de nuestra pagína web</p>
                <a><button type="button" class="btn btn-dark">Visita esta sección</button></a>
            </div>
        </div>
    </div>
</div>
