@{
    ViewData["Title"] = "Proposito de la pagina";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="TarjetaMenu col">
        
            <img class="inforImg" src="~/imagenes/informes.jpg" alt="Sample Photo" />
            <p>El propósito de una página de GYM (Gimnasio) que ofrece rutinas de ejercicio es múltiple 
                y se centra en varios objetivos clave para atraer, informar y mantener a sus usuarios comprometidos.</p>

            <h2>Educación y Orientación:</h2>
            <p>Proveer a los usuarios con información detallada sobre diferentes rutinas de ejercicio, incluyendo
                ejercicios específicos, técnicas adecuadas, y beneficios.</p>
            <p>Ofrecer guías paso a paso, videos demostrativos y descripciones detalladas para asegurar que los 
                usuarios realicen los ejercicios correctamente.</p>
            <h2>Personalización de Rutinas:</h2>
            <p>Permitir a los usuarios personalizar sus rutinas de ejercicio de acuerdo con sus objetivos específicos,
                como pérdida de peso, ganancia muscular, mejora de la resistencia o rehabilitación.</p>
            <p>Incluir herramientas para crear planes de entrenamiento personalizados basados en el nivel de fitness, 
                preferencias y disponibilidad de tiempo de cada usuario.</p>
            <h2>Motivación y Seguimiento:</h2>
            <p>Mantener a los usuarios motivados mediante la inclusión de programas de desafíos, metas a corto y largo plazo, y recordatorios.</p>
            <p>Proveer funcionalidades para el seguimiento del progreso, permitiendo a los usuarios registrar sus entrenamientos, medir su progreso y ajustar sus rutinas según sea necesario.</p>
            <h2>Accesibilidad y Comodidad:</h2>
            <p>Ofrecer rutinas de ejercicio que se puedan realizar en cualquier lugar, ya sea en casa, en el gimnasio o al aire libre, para adaptarse a las diferentes circunstancias y preferencias de los usuarios.</p>
            <p>Incluir rutinas que requieran poco o ningún equipamiento, facilitando el acceso para aquellos que no tienen acceso a un gimnasio completo.</p>
            <h2>Promoción de Servicios:</h2>
            <p>Promocionar servicios adicionales como entrenamientos personalizados.</p>
            </div>
        </div>
    </div>
</div>