@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Menu Admin</h1>

    <div class="container">

        <div class="row">
            <div class="TarjetaMenu col">
                <img src="~/imagenes/Administracion.jpeg" alt="Sample Photo" />
                <h2>CRUD USUARIOS</h2>
                <p>Aquí se pueden realizar las siguientes acciones Create, Update y Delete.</p>
                <a><button type="button" class="btn btn-dark">Visita esta sección</button></a>
            </div>
            <div class="TarjetaMenu col">
                <img src="~/imagenes/Rutinas.jpeg" alt="Sample Photo" />
                <h2>CRUD RUTINAS</h2>
                <p>Se pueden gestionar las rutinas diarias, semanales o personalizadas.</p>
                <a><button type="button" class="btn btn-dark">Visita esta sección</button></a>
            </div>
            <div class="TarjetaMenu col">
                <img src="~/imagenes/Informacion.jpeg" alt="Sample Photo" />
                <h2>CRUD DE COMPRAS</h2>
                <p>Aqui se pueden gestionar las compras de los servicios.</p>
                <a><button type="button" class="btn btn-dark">Visita esta sección</button></a>
            </div>
        </div>
    </div>
</div>
